@import "tailwindcss";

@theme {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
}

:root {
  --color-primary: #1e3a8a;
  /* Professional Navy Blue */
  --color-secondary: #64748b;
  /* Professional Slate Gray */
}

@layer utilities {

  /* Chrome, Safari, Edge, Opera */
  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  .no-spinner {
    -moz-appearance: textfield;
  }
}